body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .button-container {
    text-align: center;
  }
  
  .button {
    display: block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  .center-text {
    text-align: center;
    margin-top: 20px;
  }